body,p,h1,h2,h3,ul,ul,li{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}
  
body{
    font-family: 'Vollkorn', Georgia, Serif;
}

img {
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    display: block;
}

/*GRID GERAL*/

.estrutura{
    display: grid;
    /* Minmax é para definir o mínimo que quero dela, a última eu quero 300px fixo sempre. */
    grid-template-columns: minmax(160px,1fr) 3fr 300px;
    grid-template-areas: 
        "cabecalho cabecalho cabecalho"
        "menu-lateral conteudo anuncios "
        "rodape rodape rodape"
        ;
}

/*HEADER*/
.cabecalho{
    grid-area: cabecalho;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.cabecalho .logo {
    width: 200px;
    max-width: 300px;
}

.cabecalho .logo img{

    

}
.cabecalho nav ul{
    display: flex;
    flex-wrap: wrap;
}
.cabecalho nav ul li+ li{
    margin-left: 30px;
}
.cabecalho nav ul li a {
    display: block;
    padding: 10px;
    color:#fff;
    font-size:1.125em;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: 0.1s;
}

.cabecalho nav ul li a:hover {
    background-color: rgba(0, 0, 0, .5);

}
/*NAV - Lateral*/
.menu-lateral{
    grid-area: menu-lateral;
    background-color: #fafbfc;
    padding: 30px;

}

.menu-lateral .lista-animais li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px  0px rgba(44, 44, 44, 0.15);
    transition: 0.1s ease-out;
    cursor: pointer;
}
.menu-lateral .lista-animais li a:hover {
    background-color: #b07dfb;
}

.lista-animais li a img{
    width: 100px;
}

/*MAIN*/
.conteudo{
    grid-area: conteudo;
    max-width: 900px;
    margin : 0 auto;
    padding: 30px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

}

/* TITULO */

.titulo {
    color: #b07dfb;
}
  
.titulo h1 {
    font-size: 3.75em;
    font-weight: 700;
    line-height: 1;
}
  
.titulo span {
    font-size: 0.875em;
    font-style: italic;
}

/* CARACTERISTICAS */

.caracteristicas {
    display: flex;
    align-items: flex-start;
}
  
.caracteristicas > div {
    width: 80px;
    text-align: center;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    border-radius: 5px;
    position: relative;
}
  
.caracteristicas > div:first-child {
    margin-right: 30px;
}

.caracteristicas span {
    display: block;
    color: #b07dfb;
}
.numero {
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}
  
.rotulo {
    background: white;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative;
    top: 2px;
}
  
.col-wide {
    /* A coluna vai do 1 até o último, por isso -1, assim pega todas as colunas */
    grid-column: 1 / -1;
}

.imagem-1 {
    /* span 2 significa que ess imagem vai ocupar 2 linhas e será alinhada ao final dela sempre. */
    grid-row: span 2;
    align-self: end;
}

/* DESTAQUE */
.destaque {
    font-size: 0.875em;
    color: #b07dfb;
    max-width: 16em;
}

.imagem-2 {
    align-self: end;
}

/* ESTILOS DO CONTENT */

p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, 0.7);
  }
  
.informacoes p + p {
    margin-top: 30px;
}

/*ASIDE*/
.anuncios{
    grid-area: anuncios;
    background-color: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    grid-gap: 30px;

}

/*FOOTER*/
.rodape{
    grid-area: rodape;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.rodape p{
    color:#fff;
    text-align: center;
    padding: 30px;
}